html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#__next {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}



.tiktok-frame {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow: auto;
  color: white;
}

.tiktok-frame>div {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='91' height='91' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(159)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,0)'/%3E%3Cpath d='M0 29.5a 9.5-9.5 0 0 0 9.5-9.5a 10.5-10.5 0 0 1 10.5-10.5v1a-9.5 9.5 0 0 0-9.5 9.5a-10.5 10.5 0 0 1-10.5 10.5zM0 69.5a 9.5-9.5 0 0 0 9.5-9.5a 10.5-10.5 0 0 1 10.5-10.5v1a-9.5 9.5 0 0 0-9.5 9.5a-10.5 10.5 0 0 1-10.5 10.5z' fill='rgba(0, 0, 0,0.05)'/%3E%3Cpath d='M20 29.5a 9.5-9.5 0 0 0 9.5-9.5a 10.5-10.5 0 0 1 10.5-10.5v1a-9.5 9.5 0 0 0-9.5 9.5a-10.5 10.5 0 0 1-10.5 10.5z' fill='rgba(0, 0, 0,0.1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  position: relative;
}


.why-vote {
  background-color: #6F63FF;
}

.how-vote {
  background-color: #CE494C;
}

.remind-me {
  background-color: #03955F;
}


.primary-button {
  display: inline-block;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 47px;
  transition: 0.2s;
  color: #29A577;
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 14px;
}

.primary-button:hover {
  opacity: 0.9;
}

.sticky-header {
  position: sticky;
  top: 0;
  display: block;
  padding: 8px 24px;
  text-align: right;


  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
}

.sticky-header h1 {
  margin: 0;
}

div.why-vote:not(.no-scroll):after {
  content: '';
  position: absolute;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  bottom: 32px;
  left: 50%;
  transform: rotate(45deg) translate(-50%);
  opacity: 0.5;
  transition: 0.2s;
  -webkit-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out;
  -moz-animation: pulse 3s infinite ease-in-out;
  animation: pulse 3s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 7;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 7;
  }

  100% {
    opacity: 0.5;
  }
}

.how-vote ul h1 {
  font-family: 'Futura';
  font-weight: 500;
  font-size: 36px;
  line-height: 83.64%;
  margin: 0;
}

.how-vote ul small {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

.how-vote ul {
  list-style: none;
}

.how-vote ul li {
  position: relative;
  margin: 0;
  padding-left: 50px;
  text-align: left;
  margin-bottom: 2em
}

.how-vote ul li:not(:last-child):before {
  content: '';
  background-color: #D9D6FF;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 6px;
  width: 8px;
  height: 160%
}

.how-vote ul li:after {
  content: '';
  background: #D9D6FF;
  position: absolute;
  left: -10px;
  top: 0px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.primary-button.final-page {
  width: 274px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}